<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<hr>
<main class="container">
  <div>
    <h1 class="display-4">About PAJFAJ</h1>

    <h4>Description: </h4>

    <p>
        PAJFAJ is a startup survey company that focuses doing surveys for international students
        in order to collect the information to enhaced their experience in Canada. 
        Moreover, with the valuable information that we collect we are able to analyze their actual positon and purpose of their study in this coutry, so that
        we can colleges and univeristy can get a good idea of what international students are aiming for. 
    </p>
    <p>
       <b>CEO's</b> of PAJFAJ:
        <ul>
            <a href="https://www.linkedin.com/in/arielchau/"><li>Ariel Chau</li></a>
            <a href=""><li>Jiho Choi</li></a>
            <a href=""><li>Prajwal Purhoit</li></a>
            <a href=""><li>Thuan An Quan</li></a>
            <a href="https://www.linkedin.com/in/fawad-zaheer/"><li>Fawad Zaheer</li></a>
            <a href=""><li>Jan Rodel Escareses</li></a>
        </ul>
    </p>

    <h4>Mission and Vision: </h4>
    <p>
        The main mission of our company is to analyze new international objectives and purpose when they travel to study in a new country like Canada.
        From what program they are aiming for to their favorites activities. Those valueable data will help us to learn about new comers in order to better their experience in Canada. 
        We are aiming in the long-run to achieve and do more surverys for all type of people and activities. 
    </p>

    <img style="box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)" class="group-photo" src="/images/groupPhoto.jpg" alt="CEO of PAFAJ">

  </div>
  
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
