<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<hr>
<main class="container">
  <div>
    <h1 class="display-4">About PAJFAJ</h1>

    <h4>Description: </h4>
    <p>PAJFAJ is a startup survey company that focuses doing surveys for international students
        in order to collect the information to enhaced their experience in Canada. 
    </p>


  </div>
  
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
