<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1>Canadian International Study Survey</h1>
      <p>This survey is designed for International Students in Canada who want to rate and review their current academic situations.</p>

      <form class="form" method="post">
        <div class="from-group">
          <label for="nameTextField">Name</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter Name:"
            name="name"
            required
          />
        </div>

        <div class="from-group">
            <label for="emailTextField">Email</label>
            <input
              type="text"
              class="form-control"
              id="emailTextField"
              placeholder="Enter Email:"
              name="email"
              required
            />
        </div>

        <div class="from-group">
            <label for="phoneTextField">Phone</label>
            <input
              type="text"
              class="form-control"
              id="phoneTextField"
              placeholder="Enter Phone Number:"
              name="phone"
              required
            />
        </div>

        <div class="from-group">
            <label for="colTextField">College or Institution</label>
            <input
              type="text"
              class="form-control"
              id="colTextField"
              placeholder="Enter College or Institution:"
              name="college"
              required
            />
        </div>
        <br>
        <div class="from-group">
            <label for="progTextField">What is your current program?</label>
            <input
              type="text"
              class="form-control"
              id="progTextField"
              placeholder="Enter answer here:"
              name="program"
              required
            />
        </div>
        <br>
        <div class="from-group">
            <label for="daysTextField">How many days do you go to class per week?</label>
            <input
              type="text"
              class="form-control"
              id="daysTextField"
              placeholder="Enter answer here:"
              name="classDays"
              required
            />
        </div>
        <br>
        <div class="from-group">
            <label for="hoursTextField">How many hours does it usually take you to complete your homework?</label>
            <input
              type="number"
              min = 1
              class="form-control"
              id="hoursTextField"
              placeholder="Enter answer here:"
              name="hours"
              required
            />
        </div>
        <br>    
        <div class="from-group">
            <label for="diffTextField">On a scale of 1 to 10, how hard is your program?</label>
            <input
              type="number"
              min = 1
              max = 10
              class="form-control"
              id="diffTextField"
              placeholder="Enter answer here:"
              name="difficulty"
              required
            />
        </div>
        <br>
        <div class="from-group">
            <label for="styleTextField">What change would you like to see on the teaching style in your classes?</label>
            <input
              type="text"
              class="form-control"
              id="daysTextField"
              placeholder="Enter answer here:"
              name="style"
              required
            />
        </div>  
        <br>
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i>Submit
        </button>

        <a href="/home" class="btn btn-danger">
          <i class="fas fa-undo"></i>Cancel
        </a>
      </form>
      <br>
    </div>
  </div>
</div>


<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>